html, body{
  margin: 0;
  padding: 0;


    background-color: #1F2833;
    


    font-size: large;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#inner {
    display: table;
    margin: 0 auto;
    /* border: 1px solid black; */
  }
  
  #outer {
    /* border: 1px solid red; */
    width:100%
  }
